<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Certificates :)</title>
  </head>
  <body>
    <div class="imgs" id="imgs">
      <img src="/1.jpg" alt="image" id="img">
      <img src="/2.jpg" alt="image" id="img">
      <img src="/3.jpg" alt="image" id="img">
      <img src="/4.jpg" alt="image" id="img">
      <img src="/5.jpg" alt="image" id="img">
      <img src="/6.jpg" alt="image" id="img">
      <img src="/7.jpg" alt="image" id="img">
      <img src="/8.jpg" alt="image" id="img">
    </div>
  </body>
  <style type="text/css">
    .imgs{
      height: 30%;
      width: 60%;
      padding: 10px
      display: flex;
      flex-direction: column;
      margin: 10px 10px 10px 10px;
    }
  </style>
</html>
